body {
  background-color: #F4F3F0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home   {
  width: 500px;
  padding: 18px 10px 10px 10px;
  border: 1px solid #E3E3E3;
}

.Home h1 {
  font-size: 34px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 0;
  padding-left: 10px;
  font-family: Helvetica;
}

.Home h4 h2{
  font-size: 24px;
  display: inline;
}

h4 {
  display: inline !important;
}
.add {
  margin-bottom: 15px;
}

.industry {
  padding-left: 10px;
  display: inline;
  font-size: 12px;
  margin-top: 0px;
  color: green;
}
